body{
    background-color: rgb(236, 139, 152);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: white;
}

select {
    height: 100%;
}

.my-btn{
    background-color: red;
    color: white;
    padding: .5rem 2rem;
    border: none;
    box-shadow: 1px 1px 1px black;
}

.my-grid-container{
    width: 500px;
    height:500px;
    margin: 0 auto;
    
}

.my-grid-square{
    border: 1px solid;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-grid-square-one{
    width: calc(100% / 10);
    height:calc(100% / 10);
    border-color: red;
}

.background-red{
    background-color: red;
    color: white;
}

.my-grid-square-two{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border-color: blue;
}

.background-blue{
    background-color: blue;
    color: white;
}

.my-grid-square-three{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border-color: green;
}

.background-green{
    background-color: green;
    color: white;
}