.my-grid-container{
    width: 500px;
    height:500px;
    margin: 0 auto;
}

.my-grid-square{
    border: 1px solid;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-grid-square-one{
    width: calc(100% / 10);
    height:calc(100% / 10);
    border-color: red;
}

.background-red{
    background-color: red;
}

.my-grid-square-two{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border-color: blue;
}

.background-blue{
    background-color: blue;
}

.my-grid-square-three{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border-color: green;
}

.background-green{
    background-color: green;
}